{% extends 'main/layout.html' %}

{% block title %}
    Про нас
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>
            С чего всё начиналось. Мы открываем свою первую кофейню на улице Хохрякова.
            Наша мечта - предлагать гостям качественный кофе по демократичной цене, в непринужденной и дружелюбной атмосфере.
            Стать островком спокойствия и уединения среди городского шума.

            2016-2019
            Лучшая кофейня города.
            Мы получаем сразу несколько наград: Лучшая Кофейня 2018 (Народная Премия E1),
            Traveller’s Choice 2018 (Tripadvisor), Лучшая Кофейня 2019 (Журнал Собака),
            Открытие Года 2016 и 2017 (2ГИС) и Победитель Премии 2ГИС в номинации “Кофейни и кондитерские” 2017.

            2018
            Собственное производство.
            Мы открываем собственное производство и кондитерский цех.
            Теперь в наших кофейнях гости всегда могут полакомиться свежими десертами и аппетитной едой.

            2019
            Чемпионы Урала среди бариста.
            Наш бариста Кирилл Шляков и шеф-тренер Николай Юрченко занимают первое и третье места на Уральском Чемпионате Бариста 2020.
            Весь коллектив кофейни рад этому событию!

            2021-2022
            Кофейня года Е1 и победа на УрЧБ.
            Наша кофейня вновь получает высокую оценку жителей Екатеринбурга и становится Кофейней Года на Народной Премии Е1.
            Шеф-бариста Кирилл Шляков и шеф-тренер Николай Юрченко занимают первое и второе места на Уральском Чемпионате Бариста!

        </p>
    <button class="btn btn-warning"> На главную </button>
    </div>
{% endblock %}
