{% extends 'main/layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <h3>Свяжитесь с нами</h3>
        <p>
Сотрудничество
Предложения о сотрудничестве или аренде по адресу
            <h5>partnership@simplecoffee.ru</h5>

Претензии и сложные ситуации
Направьте свои претензии или описание сложной ситуации
в нашей кофейне на адрес hurt@simplecoffee.ru

Размещение рекламы
Иногда мы бесплатно размещаем постеры и флаеры культурных и образовательных мероприятий. Для связи с нами направьте описание вашего мероприятия и макет афиш на partnership@simplecoffee.ru

Пищевая ценность и состав продукции
Мы всегда рады уточнить для вас состав нашей продукции и напитков.
Скачайте файлы пищевой ценности напитков (PDF 112 Кб) и еды (PDF 114 Кб)

Отзывы и предложения
Оставьте отзыв или напишите свое предложение по адресу compliment@simplecoffee.ru
        </p>
    <button class="btn btn-warning"> На главную </button>
    </div>
{% endblock %}
